= form_for @question do |f|
  - if @question.errors.any?
    - @question.errors.full_messages.each do |msg|
      %li= msg
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :type
    = f.text_field :type
  %p
    = f.submit
